*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
    color: white;
}
html{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    font-size: 16px;
}
body{
    background-image: url("./img/bg-intro-desktop.png");
    background-color: var(--Red);
}
main{
    padding: 2rem 8rem;
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-section{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
h1{
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
}
.right-section{
    padding: 6rem;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}
.free-trial{
    border-radius: .5rem;
    font-size: .8rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
    background-color: var(--Blue);
    box-shadow: 0px 5px 0px 1px rgba(62,60,73,0.2);
    -webkit-box-shadow: 0px 5px 0px 1px rgba(62,60,73,0.2);
    -moz-box-shadow: 0px 5px 0px 1px rgba(62,60,73,0.2);
}
.form-container{
    
}
form{
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0px 7px 0px 1px rgba(62,60,73,0.2);
    -webkit-box-shadow: 0px 7px 0px 1px rgba(62,60,73,0.2);
    -moz-box-shadow: 0px 7px 0px 1px rgba(62,60,73,0.2);
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input{
    font-weight: bold;
    color: black;
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid var(--Grayish-Blue);
}
input:focus{
    outline: 1px solid var(--Dark-Blue);
}
button{
    border: none;
    border-radius: .5rem;
    background-color: var(--Green);
    padding: 1rem;
}

.terms{
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: .6rem;
}
.terms > a{
    color: var(--Red);
    text-decoration: none;
    font-weight: bold;
}
@media (max-width:768px) {
    body{
        background-image: url("./img/bg-intro-mobile.png");
    }
    main{
        flex-direction: column;
    }
    .left-section{
        padding: 0;
    }
    h1{
        font-size: 2rem;
    }
}